.container{
    margin: 0px 100px;
}
.writeForm{
    padding: 0px;
    margin: 40px 0px;
    height: 800px;
}
.inputDiv{
    margin: 20px 10px 20px 10px;
}
.inputLabel{
    width: 120px;
    display: inline-block;
    font-size: 18px;
    text-align: left;
}
.inputCon{
    height: 30px;
    width: 350px;
    font-size: 18px;
    border-radius: 5px;
    border:rgba(0, 188, 212, 0.50) solid 2px;
    position: relative;
}
.inputCon:focus{
    height: 30px;
    width: 350px;
    font-size: 18px;
    border-radius: 5px;
    border: #00ff00 solid 2px;
}
.errorMsg{
    color: red;
    display: none;
    position: absolute;
    height: 35px;
    line-height: 35px;
}
.submitButton{
    width: 180px;
    height: 45px;
    background-color: rgba(82, 206, 20, 0.8);
    color: white;
    font-size: 18px;
    border: rgba(82, 206, 20, 0.8) 1px solid;
    margin-top: 10px;
    cursor: pointer;
    float: right;
}
.submitButton:hover{
    width: 180px;
    height: 45px;
    background-color: rgba(82, 206, 20, 1);
    color: white;
    font-size: 18px;
    border: rgba(82, 206, 20, 1) 1px solid;
    margin-top: 10px;
    cursor: pointer;
    float: right;
}
.richArea{
    width: 100%;
}