.rightCon{
    margin-left: 300px;
    background-color: hsla(187, 100%, 42%, 0.20);
    margin-right: 0px;
    padding: 20px;
}
.articleList{
    margin: 15px 0px;
}
.brief{
    height: 79px;
    text-indent: 2em;
    margin: 10px 0px;
    color: grey;
}
.info{
    float: right;
}
.auth{
    width: 120px;
    height: 145px;
    text-align: center;
    float: left;
}
.auth img{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: 2px solid hsla(187, 100%, 42%, 0);
    cursor: pointer;
}
.auth img:hover{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: 2px solid #ffe500;
    cursor: pointer;
}
.article{
    height: 145px;
    margin-left: 140px;
    position: relative;
}
.pageDiv{
    margin: 50px 0px 0px 0px;
    text-align: center;
}
.bn{
    width: 80px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #60cf43;
    cursor: pointer;
}
.currentPage{
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}
.otherPage{
    width: 40px;
    height: 40px;
    border: 1px solid #60cf43;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.bn:hover{
    width: 80px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #60cf43;
    cursor: pointer;
    color: white;
    background-color: #60cf43;
}
.otherPage:hover{
    width: 40px;
    height: 40px;
    border: 1px solid #60cf43;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #60cf43;
}
h3{
    margin: 5px 0px 20px 0px;
}
h3 a{
    color: black;
    text-decoration: none;
}
h3 a:hover{
    color: #9C27B0;
    text-decoration: underline;
}
.option{
    position: absolute;
    right: 0px;
    top: 0px;
}
.optionSpan{
    cursor: pointer;
}
.optionSpan:hover{
    cursor: pointer;
    color: red;
}