.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.imgInfo{
    float: left;
    text-align: center;   
    margin-right: 50px;
}
.submitButton{
    width: 180px;
    height: 45px;
    background-color: rgba(82, 206, 20, 0.8);
    color: white;
    font-size: 18px;
    border: rgba(82, 206, 20, 0.8) 1px solid;
    margin-top: 10px;
    cursor: pointer;
}
.submitButton:hover{
    width: 180px;
    height: 45px;
    background-color: rgba(82, 206, 20, 1);
    color: white;
    font-size: 18px;
    border: rgba(82, 206, 20, 1) 1px solid;
    margin-top: 10px;
    cursor: pointer;
}
.labelSpan{
    background-color: rgba(0, 224, 255, 0.20);
    margin: 5px 10px;
    padding: 10px;
    display: block;
    border: 2px solid rgba(0, 188, 212, 1);
    border-radius: 50%;
    float: left;
    cursor: pointer;
    color: black;
}
.labelSpan:hover{
    background-color: rgba(0, 224, 255, 1);
    margin: 5px 10px;
    padding: 10px;
    display: block;
    border: 2px solid rgba(0, 188, 212, 1);
    border-radius: 50%;
    float: left;
    cursor: pointer;
    color: white;
}
.userInfo{
    padding: 0px 20px;
}
.userInfo > div{
    margin: 25px;
}
.labelSpanTJ{
    margin: 5px 10px;
    padding: 10px;
    display: block;
    float: left;
    cursor: pointer;
    color: black;
}
.labelSpanTJ i{
    font-size: 25px;
    color: #40af14;
    font-weight: bold;
}
.labelSpanTJ i:hover{
    font-size: 25px;
    color: #6bd641;
}