.focus{
    text-align: center;
    width: 200px;
    padding: 10px;
    background-color: rgba(139, 204, 255, 0.8);
    box-shadow: 10px 10px 5px #888888;
    float: left;
    margin: 20px;
}
.focus img{
    height: 118px;
    width: 118px;
    border-radius: 50%;
    border: 2px solid rgba(139, 204, 255, 0.8);
    cursor: pointer;
}
.focus img:hover{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: 2px solid #ffe500;
    cursor: pointer;
}
.submitButton{
    width: 120px;
    height: 45px;
    background-color: rgba(82, 206, 20, 0.8);
    color: white;
    font-size: 18px;
    border: rgba(82, 206, 20, 0.8) 1px solid;
    margin-top: 10px;
    cursor: pointer;
}
.submitButton:hover{
    width: 120px;
    height: 45px;
    background-color: rgba(82, 206, 20, 1);
    color: white;
    font-size: 18px;
    border: rgba(82, 206, 20, 1) 1px solid;
    margin-top: 10px;
}
.iconSize1{
    font-size: 20px
}
.pageDiv{
    margin: 50px 0px 0px 0px;
    text-align: center;
}
.bn{
    width: 80px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid green;
    cursor: pointer;
}
.currentPage{
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}
.otherPage{
    width: 40px;
    height: 40px;
    border: 1px solid green;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.bn:hover{
    width: 80px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid green;
    cursor: pointer;
    background-color: rgba(0, 188, 212, 0.26);
}
.otherPage:hover{
    width: 40px;
    height: 40px;
    border: 1px solid green;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 188, 212, 0.26);
}