.container{
    margin: 40px 100px;
    padding: 50px;
}
.aboutInfo{
    overflow-y: hidden;
    text-align: center;
    background-image: url(/static/image-me/back-frame.jpg);
    height: 755px;
    padding: 0px 130px;
}
.middle{
    transform: translateY(240px);
    animation: showAbout 5s linear;
    -moz-animation: showAbout 5s linear;	/* Firefox */
    -webkit-animation: showAbout 5s linear;	/* Safari 和 Chrome */
    -o-animation: showAbout 5s linear;	/* Opera */
}
@keyframes showAbout
{
from {transform: translateY(1030px);}
to {transform: translateY(240px);}
}

@-moz-keyframes showAbout /* Firefox */
{
from {transform: translateY(1030px);}
to {transform: translateY(240px);}
}

@-webkit-keyframes showAbout /* Safari 和 Chrome */
{
from {transform: translateY(1030px);}
to {transform: translateY(240px);}
}

@-o-keyframes showAbout /* Opera */
{
from {transform: translateY(1030px);}
to {transform: translateY(240px);}
}